body{

background:linear-gradient(
120deg,
#FDEBFF,
#E0F7FA,
#FFF5E1
);

font-family:Arial;

text-align:center;

min-height:100vh;

}


/* Dark Mode */

.dark{

background:linear-gradient(
120deg,
#2C2C54,
#1B1B2F,
#16213E
);

color:white;

}



h1{

color:#7A9E9F;

font-size:40px;

margin-top:30px;

}


.form{

background:white;

width:350px;

margin:auto;

padding:25px;

border-radius:20px;

box-shadow:0px 10px 25px rgba(0,0,0,0.1);

transition:0.3s;

}

.dark .form{

background:#2B2B3C;

}



input,textarea{

width:90%;

margin:10px;

padding:10px;

border-radius:10px;

border:1px solid #ddd;

}



button{

background:#B5EAD7;

border:none;

padding:10px 15px;

border-radius:12px;

cursor:pointer;

margin:5px;

font-weight:bold;

}


button:hover{

transform:scale(1.05);

}



.darkBtn{

background:#C7CEEA;

}



.entry{

background:white;

width:350px;

margin:20px auto;

padding:18px;

border-radius:18px;

box-shadow:0px 5px 15px rgba(0,0,0,0.1);

transition:0.3s;

}


.entry:nth-child(odd){

background:#FFF0F5;

}


.entry:nth-child(even){

background:#E6F7FF;

}


.dark .entry{

background:#33334D;

}



small{

color:gray;

}


.dark small{

color:lightgray;

}


#search{

padding:10px;

border-radius:10px;

border:1px solid #ddd;

width:250px;

}